@font-face {
    font-family: 'junction_regularregular';
    src: url('Junction-webfont.eot');
    src: url('Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('Junction-webfont.woff') format('woff'),
         url('Junction-webfont.ttf') format('truetype'),
         url('Junction-webfont.svg#junction_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.1); 
    border-radius: 1px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
}
html, body {
	font-family: junction_regularregular;
	text-shadow: -1px 1px 3px rgba(0,0,0,0.8);
	margin: 0;
	padding: 0;
	background-color: black;
	transition: background-color 1s ease;
	color: rgba(255,255,255,0.8);
}
img {
	width: 90%;
	max-width: 200px;
	height: auto;
}
.shrink {
	width: 0px;
	max-width: 0px;
	flex-wrap: nowrap;
	overflow: hidden;
}
.overflow {
	overflow-y: auto;
}
.wrapper {
	padding: 10px;
}
.rewidth {
	width: auto;
}
.views {
	min-height: 97%;
	max-height: 97%;
}
.normal-view {
	width: 38%;
	max-width: 38%;
}
.large-view {
	width: 77%;
	max-width: 77%;
}
.no-squish {
	min-width: 330px;
}
.place-mid {
	transition: all 0.5s ease;
	left: 40%;
	right: 40%;
}
.place-right {
	transition: all 0.5s ease;
	left: 80%;
	right: 0;
}
.place-left {
	transition: all 0.5s ease;
	right: 80%;
	left: 0;
}
.fa {
	color: rgba(0,0,0,0.8);
}
#welcome {
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	justify-content: center;
	align-content: center;
	background-color: black;
	transition: all 1s ease;
}
#wctext {
	padding: 30px;
	color: white;
	opacity: 0;
	margin: auto;
	transition: all 2s ease;
}
#big-wrapper {
	max-height: 100%;
}
#left, #middle, #right {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 1s ease;
}
#left > *, #middle > *,  #right > * {
	margin: auto;
	width: auto;
}
#left {
    background-image: url("./img/left-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	left: 0;
}
#kenneth {
	min-width: 300px;
	border-radius: 50%;
}
#left-aboutme {
	margin: auto;
	width: 100%;
}
#left-aboutme > p {
	margin: auto;
	max-width: 600px;
}
#left-contactme {
	margin: auto;
	text-align: center;
	font-size: 3em;
}
#middle {
	width: 20%;
	padding: 30px 0 30px 0;
}
#middle > * {
}
#logo-btn {
	margin: 20px auto 20px auto;
}
#logo-btn:hover {
	cursor: default;
}
#btn-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
#middle > div > button {
	margin: 10px auto 10px auto;
	padding: 10px;
	width: 100px;
	font-size: 1em;
	background-color: transparent;
	color: #d3d3d3;
	outline: none;
	opacity: 1;
	transition: all 0.5s ease;
}
#aboutme-btn {
	align-self: flex-start;
	border: 1px solid #e6e6e6;
	border-right-width: 3px;
	border-left-width: 0px;
	transition: all 1s ease;
}
#works-btn {
	border: 1px solid #e6e6e6;
	border-left-width: 3px;
	border-right-width: 0px;
	transition: all 1s ease;
}
#right {
    background-image: url("./img/right-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	right: 0;
}
#works {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow-y: scroll;
}
#works > img {
	height: 220px;
	max-height: 50%;
	max-width: 100%;
	width: auto;
	margin: 5px;
}
