html, body {
	margin: 0;
	padding: 0;
	background-color: #d3d3d3;
	overflow: auto;
}
img {
	max-width: 300px;
	height: auto;
}
#big-wrapper {
	display: flex;
	flex-wrap: wrap;
	max-height: 100%;
}
#left, #middle, #right {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 10px;
	justify-content: center;
}
#left > *, #middle > *,  #right > * {
	margin: auto;
	width: auto;
	transition: width 1s linear;
}
#left {
	background-color: red;
	overflow-y: scroll;
}
#middle {
	background-color: green;
}
#right {
	background-color: blue;
	overflow-y: scroll;
}
.shrink {
	width: 0;
	overflow: none;
}
#works {
	width: 96%;
	background-color: red;
	display: flex;
	flex-direction: column;
	align-content: space-around;
}
#works > img {
	margin: 10px auto 10px auto;
}
